#header , #footer {
	opacity: 0.9;
}

#logo{
	background:url(../images/mastercardlogo.png) no-repeat center center;
	margin: 0px 0 3px 0;
	text-indent:-9999px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2) {
	#logo{
	background:url(../images/mastercardlogo@2x.png) no-repeat center center;
	margin: 0px 0 0px 0;
	-webkit-background-size: auto 30px ;
	-moz-background-size: auto 30px ;
	background-size: auto 30px ;
	text-indent:-9999px;
	}
}

.ui-header{
	margin-top: -2px;
}

.ui-btn-inner {
font-size: 12px;
}

.category-lnk{
	font-size: 16px;
}

#categories-content .ui-btn-inner {
font-size: 18px;
}

#bgimage {
	overflow: hidden;
	position: absolute;
	top: 0;
}

#bgimage img {
	width: 100%;
}

#main .ui-btn-text{
	color: white;
	font-weight:bolder;

}

#card-main{
	overflow: hidden;
	background: url(../images/platinumbg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover !important;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}
.ui-icon-arrow-r{

}
#platinum-benefits-content h3{
	margin-left:2% !important;
}
.bizDtlImg{
	width:25%;
}


#bizDtlWrapper{
	margin-left:5%;
	float:left;
}


#bizDtlWrapper span{
	font-size:12px;
}

#bizDtlInfo{
	line-height: 12px;
	width:70%;
	float:right;
}

#platinum-business-dtl h3{
	margin-left:5%;
}

#benefitdtlwrapper{
	margin-left:5%;
}

#main{
	overflow: hidden;
	background: url(../images/playa.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
}