#header , #footer {
	opacity: 0.7;
}

#mastercardlogo {
	position: absolute;
	top: 0;
	z-index: 1000;
	left: 47%;
}

#bgimage {
	overflow: hidden;
	position: absolute;
	top: 0;
}

#bgimage img {
	width: 100%;
	
}

.ui-btn-text{
	color:black;
}

.ui-icon-arrow-r{

}